<div *ngIf="servicioServService.conectado" class="col-12 espacio"></div>
<div class="container-fluid">
  <div class="row foot">
    <div class="col-12 espacio"></div>
    <div class="col-11">
      <div class="row">
        <div class="col-6 identificador">
          <div class="col-12">By: Juan Osuna Lorenzo</div>
          <div class="col-12">Developer's nickname: SrSnaKe</div>
        </div>
        <div class="col-6 redes">
          <div class="col-12"><a href="https://github.com/JOsunaL" class="enlace">Github account - JOsunaL</a>
            &nbsp;<img class="fondo_blanco" alt="Sígueme en Github" height="22"
                       src="https://assets-cdn.github.com/favicon.ico"
                       title="Sígueme en Github" width="22"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 espacio"></div>
  </div>
  <div class="col-12 espacio"></div>
</div>
